
h1 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
}

p {
  color: black;
  font-size: 1.2rem;
}



main {
  margin: 0;
  padding: 0;
  background-color: blue;
  min-height: 100vh; /* fill the screen */
    flex: 1; /* if parent is display: flex */

}