nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  width: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: sticky;
  }
  
  .nav-items {
    display: flex;
    gap: 1rem;
  }
  
  .nav-items a,
  .nav-items p {
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-size: 16px;
      padding: 10px 15px;
      border-radius: 5px;
      transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Hover effect for navigation links */
  .nav-items a:hover {
      background-color: rgb(255, 220, 174);
      color: #000000;
  }
  
  .nav-items p:hover {
      background-color: #555;
      color: #000000;
  }


.logo {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.1rem;
    padding: .5rem;
    will-change: filter;
    transition: filter 300ms;
  }
  
  .logo:hover {
    animation: bounce 1s cubic-bezier(0.25, 0.8, 0.25, 1) infinite;
  }

  
  @keyframes bounce {
    0% {
        transform: scale(1) rotateY(0deg);
    }
    25% {
        transform: scale(1.2) rotateX(-10deg) rotateY(10deg);
    }
    50% {
        transform: scale(1) rotateY(0deg);
    }
    75% {
        transform: scale(1.2) rotateX(10deg) rotateY(10deg);
    }
    100% {
        transform: scale(1) rotateY(0deg);
    }
  }